<div class="main-content">

	<!-- content -->
	<div class="container-fluid content-top-gap">

		<h2 class="d-flex mb-3 pt-5 justify-content-between">
			Manager Product
			<div class="search-box">
				<form>
					<input class="form-control" placeholder="Search Product Here..." name="search" [(ngModel)]="search">
					<button class="btn search-submit" (click)="getSearch()" value=""><span class="fa fa-search"></span></button>
				</form>
			</div>
			<div></div>
		</h2>
		<br/>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th></th>
					<th>Product Name</th>
					<th>Amount</th>
					<th>Price</th>
					<th>Action</th>
				</tr>
				<tr
					*ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
					<!-- content here -->
					<td>{{i+1}}</td>
					<td width="150"><img class="card-img-top" src="{{item.img}}" alt=""></td>
					<td>{{item.name}}</td>
					<td>{{item.amount}}</td>
					<td>$ {{item.price}}</td>
					<td width="200">
						<button class="btn btn-primary" (click)="productDetail(item)" data-toggle="modal" data-target="#exampleMo"><i class="far fa-edit"></i></button>
						<button class="btn btn-primary" (click)="removeItem(item.id)"><i class="far fa-trash-alt"></i></button>
						<button class="btn btn-primary" routerLink="/product-detail/{{item.id}}"><i class="fas fa-info-circle"></i></button>
					</td>

				</tr>

			</thead>

			<!-- Modal 1-->
			<div *ngIf="selected" class="modal fade" id="exampleMo" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Edit: {{selected.name}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="exampleInputEmail1">Name</label>
									<input type="text" class="form-control" id="exampleInputEmail1" name="name" [(ngModel)]="products.name" value="{{selected.name}}" aria-describedby="emailHelp">
										</div>
									<div class="form-group" id="inp">
										<label for="exampleInputPassword1">Price</label>
										<input type="number" class="form-control" id="exampleInputPassword1" name="price" [(ngModel)]="products.price" value="{{selected.price}}" >
                      </div>
										<div class="form-group">
											<label for="exampleInputEmail1">Category</label>
                      <select name="category" [(ngModel)]="products.category" value="{{selected.category}}" class="form-control" >
                        <option value="">-----</option>
                        <option value="kid">Kids Toys</option>
                        <option value="doll">Dolls</option>
                        <option value="key">Key Toys</option>
                        <option value="boy">Boys Toys</option>
                      </select>
										</div>
											<div class="form-group" id="inp">
												<label for="exampleInputEmail1">Amount</label>
												<input type="number" class="form-control" id="exampleInputEmail1" name="amount" [(ngModel)]="products.amount" value="{{selected.amount}}"  aria-describedby="emailHelp">
										</div>
												<div class="form-group">
													<label for="exampleInputEmail1">Image URL</label>
													<input type="text" class="form-control" id="exampleInputEmail1" name="img" [(ngModel)]="products.img" value="{{selected.img}}"  aria-describedby="emailHelp">
													<br>
													<img class="card-img-top" src="{{selected.img}}" alt="">
										</div>
													<button type="submit" data-dismiss="modal" (click)="updateItem()" class="btn btn-primary">Update</button>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</table>
		<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="items.length"></ngb-pagination>


		<!-- Modal 2-->
		<div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Add new Product</h5>
						<button type="button" class="close" (click)="onReset()" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
					</div>
					<div class="modal-body">
						<form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
							<div class="form-group">
								<label for="exampleInputEmail1">Name</label>
								<input type="text" name="name" [(ngModel)]="product.name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
								<div *ngIf="submitted && f.name.errors" class="invalid-feedback">
									<div *ngIf="f.name.errors.required">Name is required</div>
								</div>
							</div>
							<div class="form-group" id="inp">
								<label for="exampleInputPassword1">Price</label>
								<input type="number" name="price" [(ngModel)]="product.price" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
								<div *ngIf="submitted && f.price.errors" class="invalid-feedback">
									<div *ngIf="f.price.errors.required">Price is required</div>
								</div>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Category</label>
                <select name="category" [(ngModel)]="product.category" formControlName="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                  <option value="">-----</option>
                  <option value="kid">Kids Toys</option>
                  <option value="doll">Dolls</option>
                  <option value="key">Key Toys</option>
                  <option value="boy">Boys Toys</option>
                </select>
								<div *ngIf="submitted && f.category.errors" class="invalid-feedback">
									<div *ngIf="f.category.errors.required">Category is required</div>
								</div>
							</div>
							<div class="form-group" id="inp">
								<label for="exampleInputEmail1">Amount</label>
								<input type="number" name="amount" [(ngModel)]="product.amount" formControlName="amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
								<div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
									<div *ngIf="f.amount.errors.required">Email is required</div>
								</div>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Image URL</label>
								<input type="text" name="img" [(ngModel)]="product.img" formControlName="img" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.img.errors }" />
								<div *ngIf="submitted && f.img.errors" class="invalid-feedback">
									<div *ngIf="f.img.errors.required">URL is required</div>
								</div>
								<br>
								<img class="card-img-top" src="{{product.img}}" alt="">
										</div>
                <div class="justify-content-between">
                  
								<button type="submit" class="btn btn-primary"> 
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Create
                </button>
									{{message}}
								</div>
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" (click)="onReset()" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<div id="addPBtop">
			<i type="button" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()"
				data-toggle="modal" data-target="#example" class="fas fa-plus"></i>
			<div [ngStyle]="{'opacity':opacit,'width':widt}">
				<label>Add New Product</label>
			</div>
		</div>